# Ignore private directory
priv/*

# Ignore private keys and secret files
*.pem
*.priv
*.private
*.secret

# Ignore node modules
node_modules

# Ignore node package-lock
package-lock.json

# Ignore Mac cache files
.DS_store
~*
