#container {
    margin: 50px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#info {
    flex-shrink: 1;
    padding: 50px 100px;
    background-color: #E0E0E0;
}

#flex {
    margin-top: 30px;
    display: flex;
}

.spacer {
    flex: 1;
}

img {
    margin: 20px;
}
