h1 {
    margin: 0;
}

h2 {
    margin: 0;
    font-size: 14px;
}

.post {
    margin: 20px 100px;
    padding: 50px;
    background-color: #E0E0E0;
}

.block {
    width: 100%;
    display: flex;
    margin: 10px 0;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.left {
    flex 1;
    margin-right: 25px;
}

.right {
    flex 1;
    display: flex;
    align-items: center;
    margin-left: 25px;
}

.center_text {
    text-align: center;
}

img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 25px;
}
