#container {
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#info {
    text-align: center;
    padding: 80px;
    background-color: #E0E0E0;
}

#social {
    margin: 30px;
}

.reveal {
    font-style: italic;
}

img {
    margin: 5px;
}
