ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0000A0;
}

li.nav {
    float: left;
    margin-bottom: -2px;
    padding: 0;
    text-align: center;
}

li.nav:last-child, li.nav:nth-last-child(2) {
    box-shadow: none;
}

li.nav:last-child {
    float: right;
    border-left: 1px solid white;
}

li.nav a {
    display: inline-block;
    color: white;
    text-align: center;
    margin: 0;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

#active {
    color: black;
    background-color: white;
}
